<div style="display: flex" cdkDropListGroup>
  <div>
    <h2>To Do</h2>
    <div class="example-list" cdkDropList (cdkDropListDropped)="drop($event)"
         [cdkDropListData]="todo">
      <div class="example-box" *ngFor="let t of todo" cdkDrag>{{t}}</div>
    </div>
  </div>
  <div>
    <h2>Done</h2>
    <div class="example-list" cdkDropList (cdkDropListDropped)="drop($event)"
         [cdkDropListData]="done">
      <div class="example-box" *ngFor="let t of done" cdkDrag>{{t}}</div>
    </div>
  </div>
</div>

<div id="bounds" class="example-drag-bounding-box" cdkDropList>
  <div class="example-drag" cdkDrag cdkDragBoundary="#bounds"></div>
</div>
